<!DOCTYPE html>
<html>
<head>
	<title>Blood Management System</title>
	<link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="bloodbank.html">Blood Bank Monitoring</a></li>
				<li><a href="home.html">Home</a></li>
				<li><a href="donate.html">Donate</a></li>
				<li><a href="request.html">Request</a></li>
				<li><a href="bloodbank.html" class="selected">Total Blood Available</a></li>
				<li class="login"><a href="login.html">Login</a></li>
			</ul>
		</nav>
	</header>
    <footer>
		<p>© 2023 Blood Management System. All rights reserved.</p>
	</footer>
</body>
</html>
